/.classpath
/.project
/.settings
/logs
/target
/pom.xml.releaseBackup
/release.properties

/**/.classpath
/**/.project
/**/.settings
/**/logs
/**/target
/**/pom.xml.releaseBackup
/**/release.properties
